html{
  width:100%;
  height: 100%;
}
body{
  
  text-align:center;
  background-repeat: no-repeat;
  background-size:cover;
  background-color: black;
  margin:0px;
  width:100%;
  height: 100%;
  color:white
  
}
.backGroundTheme{
  margin-bottom: 50px;
  width:100%;
  height: 100%;
}
hr{
  width: 25px;
  border:1px solid black
}
.match{
  background-color: lightblue;
  width: 800px;
  height: 120px;
  margin: 10px;
  text-align:center;
  display:flex;
justify-content:left;
align-items:center;
font-size: 15px;
font-weight: bold;
  color:black
 
  
}

.tier{
  color:white
}

.myName{
  font-weight: bold;
  font-size: 20px;
  margin:  auto ;
  background-color: white;
  width:300px;
  height:60px;
  border-radius: 20px;
  color:black;
  
  
}
  .nameText{
  width: 200px;
  height: 20px;
  padding-top: 15px;
  margin:  auto ;
  }
  
  
  
  .notSetting{
    color:white;
  }
  

.championName{
  text-align:center;
}


.theItem img{
width: 30px;


}


.championInfo{
width:200px;
height:80px;

display:flex;
            
            align-items:center;

}

.championImg{
  width:80px;
  height:80px;
}





.matchInfo img{
  
  width:18px;
  
  
}
.matchInfo{
  font-size:8px;
  text-align: left;
  
  
}
.table{
  
  text-align:left;
  top:0px;
  
}
.spellImg{
  width:35px;
  
}
.backHr{
  width:100%;
  
}
.test1{
  background-color:white;
  
width: 200px;
left:0px;
margin:5px;
position: static;
border-radius:5px;
}
.testContent{
  position: static;
}
.compoGame{
  
  background-color: white;
width: 1000px;

position: relative;
margin:5px;
border-radius:5px;
}
.sendName{
  color:white
}
.test2{
 
  
}
.js-game{
  width:100%;
}
.table{
  width: 100%;
}
.loader{
  color:white
}
.tierImg{
  width:100px;
  height: 115px;
}
.tierRank1{
  top: 50%;
  position: static;
  float: right;
  color:black;
  text-decoration: none;
   
  
  font-size: 12px;
  text-align: left;  
  font-weight: 600;
}
.tierRank1_A{
  color:blue;
  text-transform:capitalize;
  font-size: 14px;
 
}
aside,section{
  float: left;
  
}
section{
  float:right;
  right:0px;
  position: relative;
}
.cssBox{
  
  width:1220px;
  
}
footer{
  position: relative;
  width:100%;
  height:100px;
  margin-top:3000px;
   bottom:0px;
}
